/* Мобильное устройство адаптация под большие девайсы */
@media only screen and (max-wdth: 992px) {
    .wrapper {
        width: 750px;
    }
}
/* Мобильное устройство адаптация под маленькие девайсы */
@media only screen and (max-wdth: 768px) {
    .wrapper {
        width: 450px;
    }
}

