
body {
background: #FFA500 url(c.jpg);
background-size: 100%;
font-family:'Montserrat-Bold';
font-size: 15px;
line-height: 25px;
text-align: center;
}
#border {
    border: 4px double black; /* Параметры границы */
    background: #fc3; /* Цвет фона */
    padding: 10px; /* Поля вокруг текста */
   }
#conteiner{
    width:1000px;
    height:auto;
    margin:0px auto;
    padding-top:10px;
}
#menu1{
    position:relative;
    display:block;
    width:100%;
    height:auto;
    z-index:5;
}
    #menu1 ul{
        position:relative;
        display:block;
        margin:0px;
        padding:0px;
        width:100%;
        height:auto;
        list-style:none;
        background:#000000;
    }
    #menu1 > ul{
        text-align:justify;
        font-size:1px;
        line-height:1px;
    }
    #menu1 > ul::after{
        display:inline-block;
        width:100%;
        height:0px;
        content:" ";
    }
        #menu1 ul li{
            position:relative;
            display:inline-block;
            width:auto;
            height:auto;
            vertical-align:top;
            text-align:left;
        }
            #menu1 ul li a{
                display:block;
                padding:9px 35px 0px 35px;
                font-size:14px;
                font-family:Arial, sans-serif;
                color:#ffffef;
                line-height:1.3em;
                text-decoration:none;
                font-weight:bold;
                text-transform:uppercase;
                height:36px;
                box-sizing:border-box;
            }
            #menu1 ul li > a:hover, #menu1 ul li:hover > a{
                background:#FAFAFA;
                color:#2B45E0;
            }
            #menu1 ul li ul{
                position:absolute;
                top:36px;
                left:0px;
                display:none;
                width:auto;
                background:#AAAAAA;
                white-space:nowrap;
            }
            #menu1 ul li:last-child ul{/*последний пункт будет прикреплен по правому краю*/
                left:auto;
                right:0px;
            }
            #menu1 ul li:hover ul{display:block;}/*эта строчка реализует механизм выпадения*/
                #menu1 ul li ul li{
                    display:block;
                    width:auto;
                }
                    #menu1 ul li ul li a{
                        display:block;
                        text-transform:none;
                        height:auto;
                        padding:7px 35px;
                        width:100%;
                        box-sizing:border-box;
                        border-top:1px solid #ffffff;
                    }
                    #menu1 ul li ul li:first-child a{border-top:0px;}
                    #menu1 ul li ul li a:hover{
                        background:#FDDC96;
                        color:#6572BC;
                    }

.b-container button{
    background-color: black;
    border-color: black;
}

.b-container{
     
    width:100%;
    height:100%;
    margin:0px;
    padding-bottom:10px;
    font-size:30px;
    
}
.b-popup{
    width:50%;
    min-height:50%;
    background-color: white;
    color:black;
    overflow:hidden;
    
    top:800px;
    border-radius: 20px;
    margin-left: 25%;
    margin-right: 25%;
}


.b-popup .b-popup-content{
    
    width:100px;
    height:100px;
    padding:10px;
    border-radius:5px;
    box-shadow: 0px 0px 10px #000;
    cursor: pointer;
}

img{
	width: 1em;
	float: right;
	margin-top: 5px;;
	
}

#send{
	margin-bottom: 1em;
	float: right;
    background-color:black;
    border-color: black;
}

.form-control{
    border-style: hidden;
    width: 80%;
    margin:auto;
}

#error {
    text-align: center;
    font-size: 25px;
    color: red;
}

footer{
            text-align: center;
            background: WHITE;
        }

